@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-svg svg {
  filter: drop-shadow(0 0 8px red);
  transform: rotate(90deg);
}

.triangle-svg polygon {
  stroke-dasharray: 50;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 100;
  }
}
